

.console {
    background: #000;
    color: white;
    font-size: 1.0em;
    text-align: center;
}

 li {
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

#touchevents .list li:not(.anchor) {
    padding: 64px 8px;
}

#scroll h1 {
    line-height: 44px;
    background: black;
    color: white;
    text-indent: 10px;
}

#scroll img {
    min-width: 256px;
    min-height: 128px;
    background: #333;
}
#scroll .anchor img {
    width: 100%;
    margin-bottom: 4px;
}
#scroll .horizontal img {
    height: 100%;
    margin-right: 4px;
}

.thumb {
    background-color: transparent !important;
}

section .list li:not(.anchor) {
    border-bottom: none;
}

.thumb div {
    background-color: #fff;
    border-bottom: inset 1px #cfcfcf;
}

.thumb.in-left {
    margin-right: 75px;
}

.thumb.in-right {
    margin-left: 75px;
}

.anchor.trans {
    background-color: transparent !important;
}

.list li small {
    white-space: normal;
}

.on-bottom {
    width: 100%;
    position: absolute;
    bottom: 46px;
    background-color: #fff;
}

.on-bottom fieldset {
    border-bottom: none;
}

.on-bottom fieldset input[type="text"] {
    color: #000;
}

.on-bottom fieldset input[type="text"]:focus {
    color: #000;
}

.on-bottom fieldset input[type="text"]:hover {
    color: #000;
}

.list {
    height: 100%;
    padding-bottom: 60px;
}
